.landing-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://s3-us-west-1.amazonaws.com/warrenkwong.com-assets/ocean.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
}

.header {
  text-align: center;
  font-weight: 400;
  font-size: 50px;
}

.divider {
  font-weight: 100;
  font-size: 70px;
}

.subheader {
  display: flex;
  justify-content: center;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 30px;
}

.icon img {
  margin: 20px;
}
